# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
*.xcworkspace
project.xcworkspace
xcuserdata
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
*.pem

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# TypeScript
*.tsbuildinfo

# Testing
coverage/

# Temporary files
*.log
*.tmp
*.temp
